{% extends '::base.html.twig' %}

{% block body -%}
    <h2>{% trans with {'%name%': entity.title} %}title.book.show{% endtrans %}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}book.title{% endtrans %}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{% trans %}book.author{% endtrans %}</th>
                <td>{{ entity.writer }}</td>
            </tr>
            <tr>
                <th>{% trans %}book.editor{% endtrans %}</th>
                <td>{{ entity.editor | editor | raw }}</td>
            </tr>
            <tr>
                <th>{% trans %}book.quality{% endtrans %}</th>
                <td>{% include "BooklistBundle:tools:quality.html.twig" %}</td>
            </tr>
        </tbody>
    </table>

    {% if entity.toSell %}
        <p class="lead">{% trans %}book.toSell.msg{% endtrans %}</p>
    {% endif %}

    <div class="btn-group">
        <a href="{{ path('book_list') }}" class="btn btn-primary">
            {{ icon('chevron-left') }}
            {% trans %}Back to the list{% endtrans %}
        </a>
        <a href="{{ path('book_edit', { 'id': entity.id }) }}" class="btn btn-default">
            {% trans %}Edit{% endtrans %}
        </a>
    </div>
{% endblock %}
